pkgbase = myfetch
	pkgdesc = Just Another Terminal Fetch Script
	pkgver = 1.0.1
	pkgrel = 2
	url = https://github.com/elifouts/MyFetch
	arch = any
	license = MIT
	source = myfetch
	sha256sums = SKIP

pkgname = myfetch
